
.cusDD_slick_d {
    position: relative;
    width: 200px;
    margin: auto;

    font-size: 14px;
    cursor: pointer;

    text-align: left;
    text-indent: 20px;
    color: #000;
}

.cusDD_slick_d .cusDD_select {
    background: #fff;
    border: 1px solid #505050;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 0;
}
.cusDD_slick_d .cusDD_arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    background: url("../images/icons/down-caret-black.png") no-repeat;
    background-size: 60% auto;
    background-position: 50% 50%;
}

.cusDD_slick_d .cusDD_arrow.active {
    background: url("../images/icons/up-caret-black.png") no-repeat;
    background-size: 60% auto;
    background-position: 50% 50%;
}

.cusDD_slick_d .cusDD_options {
    background: #fff;
    border-left: 1px solid #505050;
    border-right: 1px solid #505050;
    border-bottom: 1px solid #505050;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.cusDD_slick_d .cusDD_opt {
    height: 30px;
    line-height: 30px;
    width: 100%;
    display: block;
    position: relative;
    transition: 300ms;
    overflow: hidden;
}
.cusDD_slick_d .cusDD_opt:before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: -320px;
    height: inherit;
    width: 300px;
    transform: skew(-30deg);
    background: rgba(0, 0, 0, 0.2);
    border-right: 1px solid #505050;
    transition: 300ms;
}

.cusDD_slick_d .cusDD_opt:hover:before {
    transform: skew(-30deg) translateX(300px);
}
