/* Products */
.product-parent {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
}

.product-parent a {
    text-decoration: none;
    width: 22%;
    height: 350px;
    min-width: 200px;
    margin: 15px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 17px 27px -9px #bdbdbd;
    transition: box-shadow .6s;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.product-image {
    text-align: center;
}

.product-image img {
    height: 150px;
    max-width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.product-text {
    padding: 15px;
    color: #343a40;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
}

.product-course {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
}

.product-course {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
}

.product-description {
    font-size: 14px;
    padding-bottom: 10px;
    height: 80px;
}

.product-price {
    font-style: italic;
    text-align: right;
}